@charset "UTF-8";

#listWrapper{
	position:relative;
}

#sendBtn{
	position:absolute;
	bottom:20px;
	right:20px;

}

#toSendBtn{
	color: white;
	font-weight:bold;
	font-size:min(17px,3.5vw);
	line-height:23px;
	background-color: #F193A190;	
	border: 3px solid #F193A199;
	border-radius: 10px;
}

#toSendBtn:hover{
	background-color: #F193A1;
	cursor:pointer;	
}

#receiveMail, #sendMail{
	font-weight:bold;
}

#letterlist a{
	text-decoration:none;
}

.listHeader{
	background-color:#F4ACB7;
	font-weight:bolder;
	font-size:16px;
	line-height:40px;
	color:#5C474D;
}

.listName{
	background-color:#FED7DC;
	font-weight:normal;
	line-height:30px;
}

.letterLine{
	border-bottom:1px solid #F4ACB7;
	line-height:30px;
}

.letterTitle{
	text-align:left;
	padding-left:15px;
	overflow:hidden;
	text-overflow:ellipsis;
    white-space:nowrap;
}

#listbtns{
	position:relative;
	font-weight:bolder;
	font-size:14px;
}

#newLetter{
	font-weight:bolder;
	font-size:14px;
	margin-top: 2vh;
    margin-bottom: 1.5vh;
}

.listFooter a{
	text-decoration:none;
	color: #806c71;
	padding-top:1%;
}