@charset "EUC-KR";

#msg_Box{
	padding:2%;
	padding-top:3%;	
	border: 5px solid #FEDDE1;
	border-radius: 15px;
	background-color: #FEDDE1;
	position:relative;
	width: 90%; /* 수정된 부분 */
	height : 90%;
	margin:auto;
	margin-top:10px

}

#msg_Box div{
	text-align:left;
}

.info{
	display:inline-block;
	width : 25%;
	font-weight:bold;
	font-size:min(15px,3vw); /* 수정된 부분 */
	margin-right: 8px;
}

#writer{
	font-weight:bold;
	font-size:15px;
}

.infoWrapper{
	margin-top:15px;
}

.infoWrapper span{ /* 추가된 부분 */
	font-size:min(15px,3vw);
}

.infoWrapper > div{
	display:inline-block;
}

.inputBox{
	width:70%;
}

#contents_Box>div{
	float:left;
}

.msg_btn{
	padding:1%;
	margin-left:1%;
	color: white;
	font-weight:bold;
	font-size:min(16px,3.5vw); /* 수정된 부분 */
	line-height:23px;
	background-color: #F193A190;	
	border: 3px solid #F193A199;
	border-radius: 20px;
	width:80px;
	margin-top:30px;
	display: inline-block;
}

.msg_btn:hover{
	background-color: #F193A1;
	cursor:pointer;	
}

#mbtns{
	display: flex; 
	justify-content: center;	
}

.inputBox{
	color: #806c71;
	background-color:white;
	border:2px solid #FFC4A970;
	border-radius:5px;
}

#receiver{
	width:50%;
}

#searchBtn{
	font-weight:bold;
	background-color:#FEDDE1;
	color:#F193A1;
	border:solid 1px #F193A1;
	border-radius:5px;
}

#searchBtn:hover{
	background-color:#F193A1;
	color:#FEDDE1;
}

#headTitle{
	font-weight:bolder;
	font-size:20px;
}

.info-m{
	width:100%;
	font-weight:bold;
}

.inputBox-m{
	width:80%
}

.msgRead-m{
	background-color:white;
	width:100%;
	border-radius:5px;
	margin-top:5px	
}

.msgRead{
	background-color:white;
	width:65%;
	border-radius:5px;
	margin-top:5px;
	font-size:min(15px,3vw); /* 수정된 부분 */
}

#msgContents{
	min-height:80px;	
}