@charset "UTF-8";


* {
	box-sizing: border-box;
}

div {
	text-align: center;
}

.container{
	max-width: 100%; 
	padding: 0; 
	margin: 0; 
	position: relative;
}

#header{
	border-bottom: 5px solid #9D8189;
	z-index:5;
}

.footerLink{
	text-decoration: none;
	color:white;
}

.footerLink:hover{
	cursor:pointer;
	color:#FFF2CC;
}

#content{
	margin:0;
	padding-top: 3%;
	padding-bottom: 3%;
	min-height: 95vh;
	max-width: 100%; 
	background-color:#C0ADB3;
	position: relative;
}

#CsCenterOutline{
	padding:2%;
	height:100%;
	border-radius: 15px;
	background-color: #FFF4EF;
}

#CsCenterHeader{
	padding-top:10px;
	height:100px;
	text-align:left;
}

#CsCenterHeader .col-12{
	color: #806c71;
	text-align:left;
	position:relative;
}

#CsCenterHeader ul{
	position:absolute;
	left:13px;
	bottom:-3px;
	width:100%;
}

#CsCenterHeader li{
	margin-right:5px;
	min-width:30%;
	max-width:40%;
	font-size:15px;
}

#CsCenterHeader .nav-link{
	padding-left:3px;
	padding-right:3px;
	border: 1px solid transparent;
	border-radius: 8px;
	background-color: #B4C8BC;
	color:white;
	text-align:center;
}

#CsCenterHeader .active{
	background-color: #D8E2DC;
	color:#516D5C;
}

#CsArea{
	margin:0%;
	padding:2%;
	height:80%;
	border: 5px solid #D8E2DC;
	border-radius: 15px;
	background-color:white;
	overflow:hidden;
	position:relative;
	z-index:5;
}

#CsArea>.col-12{
	height:100%;
	overflow-y:auto;
}

.accordion-header{
	border:0px;
}

.tab-content,#csmail>form{
	height:100%;
}

#csmail{
	height:90%;
	padding-top:30px;
	background-color:#C7B7BB40;
	border-radius:15px;
}

#csmail .row:first-of-type{
	height:10%;
	color: #45353A;
}
#emailBox{
	height:60%;
}
#emailBox .col-2:first-of-type{
	height:20%;
	padding:0%;
	color: #45353A;
	font-weight:bold;
}
#emailBox .col-10:first-of-type{
	height:20%;
}
#emailBox>.col-2:nth-child(3){
	height:80%;
	padding:0%;
	color: #45353A;
	font-weight:bold;
}
#emailBox>.col-10:nth-child(4){
	height:80%;
}
#emailBox input{
	width:90%;
	border-radius:5px;
	border:0px;
	background-color:white;
}
#emailBox textarea{
	width:90%;
	height:80%;
	border-radius:5px;
	border:0px;
	background-color:white;
	
}
#csmail .row:last-of-type{
	height:20%;
}

#csmail button{
	padding:1%;
	margin-left:1%;
	color: #9D8189;
	font-size:14px;
	background-color: transparent;	
	border: 2px solid #F4ACB7;
	border-radius: 20px;
	width:110px;
}
#csmail button:hover{
	background-color: #FED7DC80;
	cursor:pointer;
}

.footerLink{
	text-decoration: none !important;
	color:white !important;
}

.footerLink:hover{
	cursor:pointer !important;
	color:#FFF2CC !important;
}

.footerLetter{
	color:white !important;	
}

.footerBar{
	color:#FFF2CC !important;
}

