@charset "UTF-8";

#header{
	border-bottom: 5px solid #9D8189;
	z-index:10 !important;
}

#content{
	margin:0;
	padding-top: 15vh;
	padding-bottom: 3%;
	min-height: 100vh;
	max-width: 100%; 
	background-color:#C0ADB3;
	position: relative;
}

#CsCenterOutline{
	padding:2%;
	height:100%;
	border-radius: 15px;
	background-color: #FFF4EF;
}

#CsCenterHeader{
	padding-top:10px;
	height:100px;
	text-align:left;
}

#CsCenterHeader .col-12{
	color: #806c71;
	text-align:left;
	position:relative;
}

#CsCenterHeader ul{
	position:absolute;
	left:13px;
	bottom:-3px;
	width:95%;
}

#CsCenterHeader li{
	margin-right:5px;
	min-width:20%;
	max-width:28%;
	font-size:15px;
}

#CsCenterHeader .nav-link{
	padding-left:3px;
	padding-right:3px;
	border: 1px solid transparent;
	border-radius: 8px;
	background-color: #B4C8BC;
	color:white;
	text-align:center;
	font-size:min(15px,2.8vw);
}

#CsCenterHeader .active{
	background-color: #D8E2DC;
	color:#516D5C;
}

#noticeArea{
	margin:0%;
	padding:2%;
	height:80%;
	border: 5px solid #D8E2DC;
	border-radius: 15px;
	background-color:white;
	overflow:hidden;
	position:relative;
	z-index:5;
	font-weight:bolder;
}

#noticeArea .col-12{
	height:100%;
	overflow-y:auto;
}

#noticeArea .col-6{
	font-size:min(15px,3.5vw);
}

#noticeArea form{
	height:100%;
	padding-top:5%;
}

#noticePageArea{
	margin:1%;
	color:#5C474D;
}

#noticeHeader{
	
	background-color:white;
	font-weight:bolder;
	font-size:16px;
	line-height:40px;
	color: white;
}
#titleBox{
	background-color:#516D5C80;
	font-weight:bolder;
	font-size:16px;
	line-height:40px;
	color: white;
	width: 100%;
	text-align : center;
	border-style: none;
	
}
#titleBox input[type=text]{
	background-color:#516D5C80;
	font-weight:bolder;
	font-size:16px;
	line-height:40px;
	color: white;
	width: 100%;
	text-align : center;
	border-style: none;
	
}

#note_content{
	background-color:white;
	border : 3px solid #516D5C;
	border-radius : 20px;
	font-weight:bolder;
	font-size:16px;
	line-height:40px;
	color: white;
	width: 90%;
	height:300px;
	text-align : center;
	margin:auto;
}

#contents{
	width :100%;
	height:80%;
	border-style: none;
	font-size:16px;
	line-height:40px;
	text-align : center;
}


.editable {
	width:min(165px);
}

#contentsBox {

	height: 320px;
	padding-top:5%;
}

#noticePageArea .col-8{
	text-align:center;
	line-height:35px;
	font-size: 15px;
}

#contentsBoxcol8 input[type=text]{
	width: 100%;
	text-align:center;
	line-height:35px;
	font-size: 15px;
	background-color : white;
	border-style : none;
}

#btns input[type=button]{
	color: #516D5C;
	font-size:min(15px,3vw);
	background-color: transparent;	
	border: 2px solid #B4C8BC;
	border-radius: 5px;
	width:70px;
	line-height:25px;
}

#btns #delete{	
	font-size:min(15px,3vw);
	background-color: transparent;	
	border: 2px solid red;
	border-radius: 5px;
	width:70px;
	line-height:25px;
	color:red;
}

.write{
	padding:1%;
	margin-left:1%;
	color: white;
	font-weight:bold;
	font-size:min(17px,3.5vw);
	line-height:23px;
	background-color: #B4C8BC;	
	border: 3px solid #516D5C99;
	border-radius: 20px;
	width:90px;
	margin-top:2%;
}

.write:hover{
	background-color: #806c71;
	cursor:pointer;	
}

#back:hover{
	background-color: #516D5C;
	cursor:pointer;	
}
