@charset "UTF-8";

@font-face {
    font-family: 'nanumR';
    src: url('/css/NanumSquareRoundR.ttf') format('truetype');
}

@font-face {
    font-family: 'nanumB';
    src: url('/css/NanumSquareRoundB.ttf') format('truetype');
}

@font-face {
    font-family: 'nanumEB';
    src: url('/css/NanumSquareRoundEB.ttf') format('truetype');
}

* {
	box-sizing: border-box;
	color: #806c71;
	font-family: 'nanumR';
}

*:focus{
	outline:none;
	box-shadow: none !important;
}

div {
	text-align: center;
}

#header a{
	font-family: 'nanumB';
}

#logo{
	height:45px;
}