@charset "UTF-8";

* {
	box-sizing: border-box;
}

div {
/* 	border: 1px solid black; */
	text-align: center;
}

.container{
	max-width: 100%; 
	padding: 0; 
	margin: 0; 
	position: relative;
}

#header{
	border-bottom: 5px solid #A2BAAC;
	z-index:5;
}

#logo{
	height:45px;
}

#content{
	height: 95vh;
	position: relative;
	overflow:hidden;
}

#loginArea{
	position: relative;
}

#bgImg {
	position: absolute;
	object-fit:cover;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:-2;
}

#loginBg{
	position: absolute;
	left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
	width:700px;
	z-index:-1;
}

#mloginBg{
	position: absolute;
	left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
	width:600px;
	z-index:-1;
}

#loginHi{
	position: absolute;
	left: 50%;
    top: 30px;
    transform: translate(-50%, -50%);
    width:600px;
    padding-left:20px;
}

#loginInput{
	position: absolute;
	left: 50%;
    top: 30px;
    transform: translate(-50%, -50%);
    width:600px;
    padding-left:20px;
}

#loginArea input{
	margin-bottom: 17px;
}

#id, #pw{
	border: 1px solid transparent;
	border-radius: 5px;
}

#login, #joinbtn{
	background-color: #fff4ef;
	color:#ff6a85;
	border: 0px;
	border-radius:20px;
	margin:3px;
	padding:5px;
	width:90px;
	text-align:center;
	font-weight:bold;
}

#login:hover, #joinbtn:hover{
	
	background-color: #f29eab;
	color:#FFF4EF;
}

#footer{
	background-color: #9D8189;
	color: white;
}

