@charset "UTF-8";

#header{
	border-bottom: 5px solid #A2BAAC;
}

#content{
	padding-top: 15vh;
	height: 100vh;
	position: relative;
	overflow:hidden;
}

#loginArea{
	position: relative;
}

#bgImg {
	position: absolute;
	object-fit:cover;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:-2;
}

#loginBg{
	position: absolute;
	left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
	width:700px;
	z-index:-1;
}

#mloginBg{
	position: absolute;
	left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
	width:500px;
	z-index:-1;
}

#loginHi{
	position: absolute;
	left: 50%;
    top: 30px;
    transform: translate(-50%, -50%);
    width:600px;
    padding-left:20px;
}

#loginInput{
	position: absolute;
	left: 50%;
    top: 20px;
    transform: translate(-50%, -50%);
    width:600px;
    padding-left:20px;
}

#loginArea input{
	margin-bottom: 14px;
}

#id, #pw{
	border: 1px solid transparent;
	border-radius: 5px;
}

#login{
	background-color: #fff4ef;
	color:#ff6a85;
	border: 0px;
	border-radius:10px;
	margin:2px;
	padding:5px;
	height:37px;
	width:183px;
	text-align:center;
	font-weight:bold;
}

#login:hover{
	
	background-color: #f29eab;
	color:#FFF4EF;
}

#kakao-login-btn{
	height:37px;
	border-radius:10px;
	margin-bottom: 10px;
}

#kakao-login-btn:hover{
	cursor:pointer;
	opacity:0.8;	
}

.loginlastline{
	padding:0;
}

#loginInput a{
	font-size:12px;
	color:#7F626A;
	text-decoration:none;
	font-weight:bold;
}

#loginInput a:hover{
	text-decoration:underline !important;
}

#main{
	padding-top: 5vh;	
	position: relative;
}

#card{
	background-color: white;
	border-radius: 10px;
	text-align:center;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 30px;
	box-shadow:5px 5px #9D8189;
}

.cardimg{
	width: 80%;
	margin-bottom: 15px;
}
