@charset "UTF-8";

* {
	box-sizing: border-box;
}

div {
/* 	border: 1px solid black; */
	text-align: center;
}

.container{
	max-width: 100%; 
	padding: 0; 
	margin: 0; 
	position: relative;
}

#header{
	border-bottom: 5px solid #A2BAAC;
	z-index:5;
}

#logo{
	height:45px;
}

#content{
	height: 95vh;
	position: relative;
	overflow:hidden;
}

#loginArea{
	position: relative;
}

#bgImg {
	position: absolute;
	object-fit:cover;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:-2;
}

#loginBg{
	position: absolute;
	left: 52.5%;
    top: 15%;
    transform: translate(-50%, -50%);
	width:550px;
	z-index:-1;
}

#mloginBg{
	position: absolute;
	left: 52.5%;
    top: 12%;
    transform: translate(-50%, -50%);
	width:550px;
	z-index:-1;
}

#loginArea input{
	margin-bottom: 15px;
}

#id, #pw{
	border: 1px solid transparent;
	border-radius: 5px;
}

#login, #joinbtn{
	background-color: transparent;
	border: 2px solid #F4ACB7;
	border-radius:20px;
	margin:8px;
	padding:4px;
	width:90px;
	color:#664E55;
	text-align:center;
}

#login:hover, #joinbtn:hover{
	background-color: #FFF4EF95;
}

#footer{
	background-color: #9D8189;
	color: white;
}

