@charset "UTF-8";


* {
	box-sizing: border-box;
}

div {
	text-align: center;
}

.container{
	max-width: 100%; 
	padding: 0; 
	margin: 0; 
	position: relative;
}

#header{
	border-bottom: 5px solid #9D8189;
	z-index:5;
}

#content{
	margin:0;
	padding-top: 3%;
	padding-bottom: 3%;
	min-height: 95vh;
	max-width: 100%; 
	background-color:#C0ADB3;
	position: relative;
}

#memberPageOutline{
	padding:2%;
	height:100%;
	border-radius: 15px;
	background-color: #FFF4EF;
}

#memberPageHeader{
	padding-top:10px;
	height:100px;
	text-align:left;
}

#memberPageHeader .col-12{
	color: #806c71;
	text-align:left;
	position:relative;
}

#memberPageHeader ul{
	position:absolute;
	left:13px;
	bottom:-5px;
	width:100%;
}

#memberPageHeader li{
	margin-right:5px;
	min-width:20%;
	max-width:28%;
	font-size:15px;
}

#memberPageHeader .nav-link{
	padding-left:3px;
	padding-right:3px;
	border: 1px solid transparent;
	border-radius: 8px;
	background-color: #B4C8BC;
	color:white;
	text-align:center;
}

#memberPageHeader .active{
	background-color: #D8E2DC;
	color:#516D5C;
}

#memberPage{
	margin:0%;
	padding:2%;
	height:80%;
	border: 5px solid #D8E2DC;
	border-radius: 15px;
	background-color: white;
	overflow:hidden;
	position:relative;
	z-index:5;
}

#memberPage form{
	height:100%;
	padding-top:5%;
}

#memberPageArea{
	margin:1%;
	color:#5C474D;
}

#memberPageAreaHeader{
	background-color:#516D5C;
	font-weight:bolder;
	font-size:16px;
	line-height:40px;
	color: white;
}

#memberPageArea .col-4{
	background-color: #D8E2DC;
	font-weight:bolder;
	line-height:35px;
}

#memberPageArea .col-8{
	text-align:left;
	line-height:35px;
}

#memberPageArea .row{
	border-bottom:1px solid #516D5C;
}

#memberPage button{
	padding:1%;
	margin-left:1%;
	color: #9D8189;
	font-size:14px;
	background-color: transparent;	
	border: 2px solid #516D5C;
	border-radius: 20px;
	width:110px;
}

#memberPage button:hover{
	background-color: #D8E2DC80;
	cursor:pointer;	
}

#footer{
	background-color: #9D8189;
	color: white;
}
