@charset "UTF-8";

* {
	box-sizing: border-box;
}

div {
	text-align: center;
}

.container{
	max-width: 100%; 
	padding: 0; 
	margin: 0; 
	position: relative;
}

#header{
	border-bottom: 5px solid #9D8189;
	z-index:5;
}

#content{
	margin:0;
	padding-top: 3%;
	padding-bottom: 3%;
	min-height: 95vh;
	max-width: 100%; 
	background-color:#C0ADB3;
	position: relative;
}

#AdminPageOutLine{
	padding:2%;
	height:100%;
	border-radius: 15px;
	background-color: #FFF4EF;
	
}

#AdminPageHeader{
	padding-top:10px;
	height:100px;
	text-align:left;
}

#AdminPageHeader .col-12{
	color: #806c71;
	text-align:left;
	position:relative;
}

#AdminPageHeader ul{
	position:absolute;
	left:13px;
	bottom:-5px;
	width:95%;
}

#AdminPageHeader li{
	margin-right:5px;
	min-width:20%;
	max-width:28%;
	font-size:15px;
}

#AdminPageHeader .nav-link{
	padding-left:3px;
	padding-right:3px;
	border: 1px solid transparent;
	border-radius: 8px;
	background-color: #B4C8BC;
	color:white;
	text-align:center;
	font-size:min(15px,2.8vw);
}

#AdminPageHeader .active{
	background-color: #D8E2DC;
	color:#516D5C;
}

#memberManagement{
	margin:0%;
	padding:2%;
	height:80%;
	border: 5px solid #D8E2DC;
	border-radius: 15px;
	background-color:white;
	overflow:hidden;
	position:relative;
	z-index:5;
	font-weight:bolder;
	
}

#memberManagement .col-12{
	height:100%;
	overflow-y:auto;
}

#memberManagement .col-6{

	font-size:min(15px,3.5vw);
}

#memberManagement #searchBar {
	text-align:right;
}

#memberManagement #searchBar select{
	width:80px;
	background-color: white;	
	display:inline;
	border: 2px solid #B4C8BC;
	color: #806c71;
	line-height:15px;
	font-size:min(15px,3vw);
}

#memberManagement #searchBar select:hover{
	background-color: #B4C8BC30;	
}

#memberManagement #searchBar input[type=text]{
	width:35%;
	border: 2px solid #516D5C;
	border-radius: 5px;
	line-height:25px;
	font-size:min(15px,3vw);
}

#memberManagement #searchBar input[type=submit]{
	color: #516D5C;
	font-size:min(15px,3vw);
	background-color: transparent;	
	border: 2px solid #B4C8BC;
	border-radius: 5px;
	width:60px;
	line-height:25px;
}

#memberManagement #searchBar input[type=submit]:hover{
	background-color: #B4C8BC30;
	
}


#memberManagement .row{
	border-bottom:1px solid #D8E2DC;
	color:#516D5C;
	line-height:40px;
	
}

#memberHeader div{
	background-color:#B4C8BC;
	font-weight:bolder;
	font-size:16px;
	line-height:35px;
	color: white;
}

#memberlistHeader{
	font-weight:bolder;
	color:#516D5C;
	font-size:20px;
}

#memberManagement a{
	color:#FFBE46;
	text-decoration:none;
}

.memberlistPageNavi a{
	color:#516D5C;
	text-decoration:none;
	font-weight:bolder;
	font-size:20px;
}

.footerLink{
	text-decoration: none;
	color:white;
}

.footerLink:hover{
	cursor:pointer;
	color:#FFF2CC;
}

.listNN{
	color:#FFBE46;
}

.memberinfo div{
	font-size:min(15px,3vw);
	font-size:16px;
}

#memberlistHeader{
	font-size:min(20px,4vw);
}

