@charset "UTF-8";


#board2List{
	margin:0%;
	padding:2%;
	padding-top:2%;
	padding-bottom:3%;
	border: 5px solid #FEDDE1;
	border-radius: 15px;
	background-color: #FEDDE1;
	position:relative;
	height: 65vh;
}


#header_title>div{
	color: #806c71;
	text-align:left;
	position:relative;
	height:100px;
}

#note_content{
	margin-top: 10px;
	margin-bottom: 10px;
	max-height: 300px;
	height:70%;
}

.note-statusbar{
	display:none;
}


input:focus {outline:1px solid #F4ACB7;}



#header{
	border-bottom: 5px solid #A2BAAC;
}

#content{
	margin:0;
	padding-top: 15vh;
	padding-bottom: 3%;
	background-color: #D8E2DC;
	min-height: 100vh;
	position: relative;
	overflow:hidden;
	
}

#board2Outline{
	padding:2%;
	padding-bottom:4%;
	height:100%;
	border-radius: 15px;
	background-color: #FFF4EF;
	margin-bottom:5%;
}

#board2Outline input {
	border: 2px solid #FFCAD4;
	border-radius:15px;
	width: 100%;
	margin-top: 10px;
	padding:1%;
	
}

#board2Header{
	padding-top:10px;
	height:150px;
	text-align:left;
}


#board2Header>div{
	color: #806c71;
	text-align:left;
	position:relative;
}

#board2Header span{
	font-size:min(6vw,14px);
}

#board2Header .col-12:last-child{
	text-align:right;
}

#board2Header select{
	width:80px;
	background-color: white;	
	display:inline;
	border: 2px solid #B4C8BC;
	color: #806c71;
	line-height:15px;
	font-size:min(13px,3vw);
}

#board2Header select:hover{
	background-color: #B4C8BC30;	
}

#board2Header input[type=search]{
	width:35%;
	border: 2px solid #FFDCCC;
	border-radius: 5px;
	line-height:25px;
	font-size:min(13px,3vw);
}

#board2Header input[type=submit]{
	color: #9D8189;
	font-size:1rem;
	background-color: transparent;	
	border: 2px solid #F4ACB7;
	border-radius: 5px;
	width:60px;
	line-height:25px;
	font-size:min(13px,3vw);
}


#board2Header input[type=submit]:hover{
	background-color: #FF4ACB10;
}



#board2List>.col-12{
	height:100%;
}

.write{
	padding:1%;
	margin-left:1%;
	color: white;
	font-weight:bold;
	font-size:min(17px,3.5vw);
	line-height:23px;
	background-color: #F193A190;	
	border: 3px solid #F193A199;
	border-radius: 20px;
	width:90px;
	margin-top:2%;
}

.write:hover{
	background-color: #F193A1;
	cursor:pointer;	
}


#board2List .writing{
	background-color:#ffffff;
	margin-bottom:8px;
	margin-right:0;
	margin-left:0;
	border-radius:3px;
	max-height:13vh;
}


#board2List a{
	color:#5C474D;
	text-decoration:none;
}

.writingTitle {
	text-align:left;
	color: #806c71;
	overflow:hidden;
	text-overflow:ellipsis;
    white-space:nowrap;
	font-size:min(17px,3.5vw);
	line-height: min(40px,8vw);
}

.writingEtc{
	text-align:left;
	color: #9D8189;
	font-size:min(2vw,14px);
}


#title_limit{
	white-space : nowrap;
	overflow:hidden;
	text-overflow: ellipsis;
}

#footer{
	text-align:center;
	background-color: #A2BAAC;
	color:white;
}

.note-editable{
	height: 37vh !important ;
}

