@charset "UTF-8";

* {
	box-sizing: border-box;
}

div {
 	/*border: 1px solid black;*/
}

.container{
	max-width: 100%; 
	padding: 0; 
	margin: 0; 
	position: relative;
}

#header{
	border-bottom: 5px solid #F4ACB7;
	z-index:5;
}

#content{
	padding-top: 3%;
	padding-bottom: 3%;
	background-color: #FFD5DD;
	height: 95vh;
	position: relative;
	overflow:hidden;
	
}

#PageOutline{
	padding:2%;
	height:100%;
	border-radius: 15px;
	background-color: #FFF4EF;
}

#board2_title>div{
	color: #806c71;
	text-align:left;
	line-height:30px;
}

#board2_search{
	margin:3px;
}

button {
	
	color: #9D8189;
	font-size:14px;
	background-color: transparent;	
	border: 2px solid #F4ACB7;
	border-radius: 20px;
	width:100px;
	height:25px;
}

button:hover{
	background-color: #FED7DC80;
	cursor:pointer;	
}

input#search{
	height:25px;
}

#title_limit{
	white-space : nowrap;
	overflow:hidden;
	text-overflow: ellipsis;
}

#footer{
	text-align:center;
	background-color: #9D8189;
	color:white;
}

